{% extends "layout.html"%}
{% block title %}Agregar Imágen{% endblock %}

{%block content%}
    <div class="container w-75 my-5 border-1 rounded shadow">
        <div class="row">
            <div class="col">
                <h2 class="fw-bold text-center text-success py-2">Agregar Imágen</h2>
                <form action="{{ url_for('uploader') }}" method="post" enctype = "multipart/form-data" name="formRegistro" onsubmit="validar_formulario();">
                    <div class="mb-4">
                        <input class="form-control" type="text" name="titulo"  id="titulo" placeholder="Título de la imágen">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" type="text" name="categoria"  id="categoria" placeholder="Seleccione la categoria">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" type="text" name="etiquetas"  id="etiquetas" placeholder="Escriba palabras clave separadas por (,)">
                    </div>
                    <div class="mb-4">
                        <label for="archivo" class="form-label">Archivo</label>
                        <input class="form-control" type="file" name="archivo" id="archivo">
                    </div>
                    <div class="d-grid mb-4">
                        <button type="submit" class="btn btn-success fw-bold">
                            Agregar Imágen
                        </button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>

{%endblock%}