{% extends "layout.html"%}

{%block content%}
<div class="container w-75 my-5">
  <h1 class="fw-bold text-start text-success py-2">
      Mis Imágenes
  </h1>
  <div class="d-flex justify-content-end">
    <a class="nav-link fw-bold" href="/Upload">
      <img src="/static/img/add-ico.png" alt="" width="50" height="50" class="d-inline-block align-text-middle">
    </a>
  </div>
</div>
<div class="container w-75 mb-5 border-1 rounded shadow">
  <div class="row">
    {% for imagen in misimagenes  %}
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('uploads',nombreimagen = imagen[4]) }}" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{imagen[3]}}</h5>
          <p class="card-text">Etiquetas: {{imagen[5]}}</p>
          <div class="">
            <a href="#">
                <img src="/static/img/edit-text-ico.png" width="30" height="30" class="d-inline-block align-text-middle">
            </a>
            <a href="#">
                <img src="/static/img/deleted-ico.png" width="30" height="30" class="d-inline-block align-text-middle">
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}
